.roleGroup {
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	padding: 4px;
	border-radius: 2px;
	max-width: 150px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	zoom: 1;
}

.admin {
	background-color: #504cc7;
}

.mod {
	background-color: #4cc78e;
}

.accountHolder {
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
	flex-wrap: wrap;
	justify-content: center;
	height: 18px;
}

.accountImage {
	width: 140px;
	height: 140px;
	position: relative;
	bottom: 70px;
	border-radius: 50%;
	border: 3px solid #fff;
	transition: all 0.15s ease;
}

.accountImage:hover {
	transform: scale(1.03);
}

.accountFeed {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 500px;
}

.bannerImage {
	width: 100%;
	border-top-left-radius: calc(0.375rem - 1px);
	border-top-right-radius: calc(0.375rem - 1px);
	/* Additional */
	height: 220px;
}

.accountBody {
	text-align: center;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}

.accountRow {
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
	flex-wrap: wrap;
}

.accountCol {
	max-width: 100%;
	flex-basis: 0;
	flex-grow: 1;
}

.profileCard {
	padding: 1rem 0;
	justify-content: center;
	display: flex;
	margin-left: 12px;
}

.profileCard > div {
	margin-right: 4rem;
	padding: 0.875rem;
	text-align: center;
}

.profileCard > div > .heading {
	font-size: 20px;
	font-weight: 700;
	display: block;
	letter-spacing: 0.025em;
	text-transform: uppercase;
}

.profileCard > div > .descrption {
	font-size: 0.875rem;
	color: #adb5bd;
}

.accountName {
	font-family: inherit;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 0.5rem;
	color: #32325d;
	font-size: 30px;
}
